<style>
    .ace_editor  {
        height : 300px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>

<hr>

<div ng-if="configFileName !== null">
    <button class="btn btn-default btn-block" ng-click="$ctrl.saveFile()">Save {{configFileName}}</button>
    <div ui-ace="aceOption" ng-model="aceModel"></div>
</div>
